@import "../../sass/main.scss";

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;

    &--img {
        max-width: 100%;
        width: 200px;
    }
    &--signIn {
        text-decoration: none;
        margin-right: 0.5rem;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }

    a {
        color: $secondary-color;
    }
    &__connected {
        display: flex;
        align-items: center;
        color: $secondary-color;
        font-weight: bold;
        &__username {
            display: flex;
            align-items: center;
            &:hover {
                text-decoration: underline;
            }
            cursor: pointer;
        }
        &--out {
            margin-left: 1rem;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.fa-user-circle, .fa-sign-out {
    margin-right: 0.2rem;
}