.container__connected__page {

    &__background {
        background-color: #12002b;
        min-height: 84vh;   

        &__sold {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}